<div class="row justify-content-center mt-4">
  <div class="col-6 mt-4 shadow p-4 mb-5 bg-body-tertiary rounded">
    <%= form_with model: article do |form| %>
      <div class="row mb-4 align-items-center">
        <%= form.label :title, 
          class: "form-label col-lg-2 col-form-label col-form-label-lg",
          for: "titleInput"
        %>
        <div class="col-sm-10">
          <%= form.text_field :title, 
            class: "form-control", 
            id: "titleInput" 
          %>
        </div>
      </div>

      <div class="row mb-4">
        <%= form.label :body, 
          class: "form-label col-lg-2 col-form-label col-form-label-lg",
          for: "bodyInput"
        %>
        <div class="col-sm-10">
          <%= form.text_area :body, 
            class: "form-control", 
            style: "height: 150px",
            id: "bodyInput"
          %>
        </div>
      </div>

      <div class="row mb-4 align-items-center">
        <%= form.label :status,
          class: "form-label col-lg-2 col-form-label col-form-label-lg",
          for: "statusInput"
        %>
        <div class="col-sm-10">
          <%= form.select :status, 
            ['public', 'private', 'archived'], 
            selected: 'public',
            class: "form-select", 
            style: "height: 150px",
            id: "statusInput"
          %>
        </div>
      </div>


      <%= render 'shared/errors', obj: article %>

      <div class="text-center mt-5">
        <%= form.submit "#{method_msg} article", class: "btn btn-outline-light btn-lg" %>
      </div>
    <% end %>
  </div>
</div>