<div id="page-content">
  <div class="container mt-4">

    <h1 class="text-center">Listing all articles</h1>

    <table class="table table-dark table-striped table-hover text-light mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= truncate(article.body, length: 50) %></td>
            <td>
              <%= link_to "View", article, class: "btn btn-outline-light btn-sm" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-light btn-sm" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-light btn-sm", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "New Article", new_article_path %>
  </div>

</div>

