<div id="page-content">
  <div class="container mt-4">

    <h1 class="text-center">Listing all articles</h1>
    <p class="text-center">Our blog has <%= Article.public_count %> articles and counting!</p>

    <table class="table table-dark table-striped table-hover text-light mt-5">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.order(updated_at: :desc).each do |article| %>
          <% unless article.archived? %>
            <tr>
              <td><%= article.title %></td>
              <td><%= truncate(article.body, length: 30) %></td>
              <td><%= link_to article.user.name, user_path(article.user) %></td>
              <td><small><%= time_ago_in_words(article.created_at) %> ago</td>
              <td><small><%= time_ago_in_words(article.updated_at) %> ago</td>
              <td><%= link_to "View", article, class: "btn btn-outline-light btn-sm" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= link_to "New Article", new_article_path, class: "btn btn-outline-light mt-3" %>
  </div>

</div>

